Source: zabbix-agent-ng
Section: utils
Priority: extra
Maintainer: Nikolay Bryskin <nbryskin@yandex-team.ru>
Build-Depends: debhelper (>= 7.3.5~), python-support (>= 0.90), python-all
Standards-Version: 3.9.1

Package: zabbix-agent-ng
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python:Depends}, python-config, python-daemon, python-ldap, python-setproctitle
Description: zabbix-agent that can send data about multiple hosts
 zabbix-agent-ng utilizes python-gevent coroutine library, that gives him
 possibility of hightly concurrent statistics data retriveing and sending.
 Also it supports Yandex version of zabbix with it's extensions.
